@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderPartial("PageHeading"); }

@foreach (var item in Model.Content.Children)
{
    <div class="row">
        <div class="large-12 columns">
            <h3>
                <span class="gt">&gt;</span> @item.GetPropertyValue("QuestionHeading")
            </h3>

            @item.GetPropertyValue("Answer")
        </div>
    </div>
}