@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderPartial("PageHeading"); }

@{
    /* Umbraco advised method for accessing drop down values
     * uses magic string, so store in Web.Config.
     * http://our.umbraco.org/wiki/reference/umbracolibrary/getprevalues
     */
    var iterator = umbraco.library.GetPreValues(Int32.Parse(
        System.Web.Configuration.WebConfigurationManager.AppSettings["seasonDropdownNodeId"]));

    // Move to first item.
    iterator.MoveNext();

    var values = iterator.Current.SelectChildren("preValue", "");

    string season = Request.QueryString["season"];

    if (season == null)
    {
        season = "2014-15";
    }

    var photoCollection = Model.Content.Children
        .Where(p => p.GetPropertyValue("PhotoSeason").ToString() == season);

        <div class="row">
            <div class="small-12 columns">
                <h3>
                    @season
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-9 large-10 columns">
                @if (photoCollection.Count() > 0)
                {
                    <ul class="gallery-thumbs" data-clearing>
                        @foreach (var photo in photoCollection)
                        {
                            <li>
                                <a class="th" href="@photo.GetPropertyValue("PhotoFile")">
                                    <img data-caption="@photo.GetPropertyValue("PhotoCaption")"
                                         src="@photo.GetPropertyValue("PhotoFile").ToString().Replace(".", "_200.")"
                                         width="100" />
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>
                        <a href="mailto:@Umbraco.Field("ContactEmail", recursive: true)?subject=Virginia Tech Competitive Cheerleading | Contact Us">
                            Contact us
                        </a>
                        with your photos from this season.
                    </p>
                }
            </div>

            <div class="hide-for-small medium-3 large-2 columns">
                <div class="panel-box">
                    <h4>Seasons</h4>

                    <ul>
                        @foreach (var item in values)
                        {
                            <li>
                                <a href="/photos?season=@item">
                                    @item.ToString()
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
}
