.banner {
	background-position: 50% 0%;
	display: block;
	height: 400px;
	padding-top: 100px;
	width: 100%;

	a {
		background: $hokie-orange;
		color: #fff;
		display: inline-block;
		padding: 5px 10px;
	}

	h1 {
		margin: 0;
		background: $hokie-maroon;
		color: #fff;
		padding: 5px 10px;
	}

	h3 {
		margin: 0;

			background: $footer-bg;
			color: #fff;
			padding: 5px 10px;

		.sub-header {
			line-height: 1;
			padding: 0;
		}
	}
}

.banner-follow {
	background: $footer-bg;
	color: #fff;
	display: block;
	margin-bottom: 40px;
	padding: 25px 0;

	p {
		margin-bottom: 0;
	}
}
	

.title-banner {
    background: $oil;
    color: #fff;
    margin-bottom: 1.25em;
    padding: 15px 0;

	h1 {
			color: #fff;
			margin: 0;
			padding: 0;
	}
}
