.call-to-action {
    background: $hokie-maroon;
    color: #fff;
    padding: emCalc(25px) 0;

	h3, a {
		color: #FFF;
	}

	a {
		text-decoration: underline;

		&:hover {
			color: #FFF;
			text-decoration: none;
		}
	}

    p {
        margin-bottom: 0;
    }

	.columns {
		font-size: 80%;
	}
}
