.logo {
    display: inline-block;
    text-align: center;

    img {
        margin: 0 auto .4em auto;
        max-width: 100%;
        width: auto;
    }

    strong {
        display: block;
    }
}