.main-content {
    background-color: $main-section-bg;
}

header {
    background-color: $smoke;
    padding: emCalc(40px) 0;

    h1 {
        font-weight: bold;
    }

    .button {
        margin-top: emCalc(30px);
        margin-bottom: 0;
    }
}

.experience {
    margin: emCalc(40px) 0 emCalc(30px) 0;   
    
    h2 {
        margin-bottom: emCalc(15px);
    } 

    hr {
        margin-top: emCalc(10px);
    }

    strong {
        display: block;
    }
}

.page-container {
    margin-top: emCalc(40px);
    margin-bottom: emCalc(40px);
}

.page-heading {
	margin-bottom: emCalc(30px);
    text-align: center;
}