pre {
    background-color: $silver;
    border-color: $smoke;
    border-style: solid;
    border-width: emCalc(1px);
    border-radius: emCalc(3px);
    overflow-x: auto;
    margin-bottom: 1.25rem;
}