$ribbon-color: #bfdc7a;
$ribbon-secondary-color: #8ebf45;
$ribbon-border-color: #6e9000;
$footer-bg: #1a1a1a;
$hokie-maroon: #660000;
$hokie-orange: #FF6600;
$main-section-bg: #f9f8f8;
$neutral-color: #fcf5ee;