@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<header>
    <div class="row">
        <div class="large-12 columns">
            <h1>
                @Umbraco.Field("headline")
            </h1>
        </div>
    </div>
</header>
